/****
**
** There are two sections of this global.css style sheet.  1. Are global styles and 2. Optional or    ** Plugin specific styles 
** that you can delete to replace with, for example with styled-components or emotion. 
**
** In fact, all these styles could be deleted, but things like Fonts and other global styles will need ** to be addressed. 
****/

/****
**  
** Global styles
** 
****/

/**** CSS Custom Variable for Color Scheme ****/

:root {
  --accent-color: #d77e00;
  --accent-color-shade: #8e4200;
  --dark-accent-color: #55433b;
  --grey-color: #dfe0df;
  --white-color: #fff7f0;
  --black-color: #040404;
}

/**** Accessible .visually-hidden class 
**
** WARNING: If you delete these, your website will self-destruct.
**
****/

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
/* ie9+ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****
**  END OF ACCESSIBILITY FOCUSED STYLES
****/

/****
**  
** FONT STYLES - DELETE THESE IF YOU USE TYPOGRAPHY.JS
** 
****/

.h3 {
  margin: 0 5% 1.4rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.4rem;
  color: #55433b;
  font-family: "Patua One", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.31951rem;
  line-height: 1.1;
}

/****
**  END OF FONT STYLES
****/

/****
**  
** Optional or Plugin specific styles
** 
****/

/** BASIC STRUCTURE STYLES THAT CAN BE DELETED, REPLACED OR USED IN OTHER PLACES **/

body {
  /* https://beautifuldingbats.com/pattern-generator?share=eyJzaG93Ijp0cnVlLCJzdHlsZSI6ImRvMyIsInNpemUiOjEyLCJjb2xvciI6IiM1NTQzM2IiLCJzZWNvbmRhcnkiOiIjZjM4MjRhIiwiYSI6MSwiYiI6Miwicm90YXRpb24iOjEzMCwiZmlsbCI6IiNmZmY3ZjAifQ , https://meyerweb.com/eric/tools/dencoder/  */
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221000%22%20height%3D%221000%22%3E%3Cdefs%3E%3Cpattern%20id%3D%22pattern%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2040%2040%22%20patternUnits%3D%22userSpaceOnUse%22%20patternTransform%3D%22rotate(130)%22%3E%3Crect%20id%3D%22pattern-background%22%20x%3D%220%22%20y%3D%220%22%20width%3D%221000%22%20height%3D%221000%22%20fill%3D%22%23fff7f0%22%2F%3E%20%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%221%22%20fill%3D%22%2355433b%22%20stroke%3D%22%2355433b%22%20stroke-width%3D%220%22%2F%3E%20%3C!----%3E%20%3C!----%3E%20%20%20%20%3Ccircle%20cx%3D%222%22%20cy%3D%222%22%20r%3D%221%22%20fill%3D%22%23f3824a%22%20stroke%3D%22%23f3824a%22%20stroke-width%3D%220%22%2F%3E%3Ccircle%20cx%3D%2242%22%20cy%3D%222%22%20r%3D%221%22%20fill%3D%22%23f3824a%22%20stroke%3D%22%23f3824a%22%20stroke-width%3D%220%22%2F%3E%3Ccircle%20cx%3D%222%22%20cy%3D%2242%22%20r%3D%221%22%20fill%3D%22%23f3824a%22%20stroke%3D%22%23f3824a%22%20stroke-width%3D%220%22%2F%3E%3Ccircle%20cx%3D%2242%22%20cy%3D%2242%22%20r%3D%221%22%20fill%3D%22%23f3824a%22%20stroke%3D%22%23f3824a%22%20stroke-width%3D%220%22%2F%3E%20%3C!----%3E%20%3C!----%3E%20%20%20%20%3C%2Fpattern%3E%3C%2Fdefs%3E%20%3Crect%20fill%3D%22url(%23pattern)%22%20height%3D%221000%22%20width%3D%221000%22%20y%3D%220%22%20x%3D%220%22%2F%3E%3C%2Fsvg%3E"); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl {
  margin: 0 5% 1.4rem;
}

blockquote {
  background: var(--white-color);
  border-left: 10px solid var(--grey-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--accent-color);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

hr {
  background-color: var(--accent-color);
}

button {
  margin: 20px 10px 20px 10px;
  display: block;
  text-align: center;
  padding: 12px 20px 12px 20px;
  border-radius: 3px;
  border: none;
}

input {
  margin: 20px 10px 20px 10px;
  display: block;
  text-align: left;
  padding: 12px 20px 12px 20px;
  border-radius: 3px;
  border: none;
}

small {
  margin-bottom: calc(1.4rem / 2);
  display: block;
}

/**** 
** 
** BEGINNING OF BREADCRUMBS STYLING 
**
****/

.breadcrumbs__container {
  padding: 1rem;
  margin-bottom: calc(1.4rem / 2);
  min-height: 8rem;
}

.breadcrumb__title {
  margin-bottom: 0;
}

.breadcrumb__list {
  margin: 0;
  margin-top: calc(1.4rem / 2);
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__list__item {
  margin-bottom: calc(1.4rem / 2);
  list-style: none;
  text-transform: capitalize;
}

.breadcrumb__separator {
  margin-bottom: calc(1.4rem / 2);
  padding: 0 0.5rem;
}

.breadcrumb__list__item a {
  text-decoration: none;
}

.breadcrumb__link__active {
  font-weight: 900;
  font-size: 105%;
}

/****
**  END OF BREADCRUMBS STYLING
****/

/****
**
** Header Styles 
**
****/

.page-header {
  background-color: var(--white-color);
  opacity: 0.95;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

/****
**  END OF HEADER STYLES
****/

/****
**
** TOP .logo STYLES 
**
****/

.logo {
  flex-basis: auto;
  margin: 0;
  align-self: center;
  height: 75px;
  width: 180px;
}

@media (min-width: 768px) {
  .logo {
    align-self: flex-start;
  }
}

/****
**  END OF TOP .logo STYLES
****/

/****
**
** TOP .main-menu STYLES 
**
****/

.main-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 999;
  justify-content: space-around;
}

.main-menu nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: var(--white-color);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-bottom: 1px solid var(--accent-color);
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  height: 100vh;
}

.menu li {
  list-style-type: none;
  padding: 0.5rem 1rem;
}

.menu li a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0250ms ease-in-out 250ms;
}

.nav-toggle-label {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

@media (min-width: 768px) {
  .main-menu {
    display: flex;
    flex-direction: row;
  }

  .main-menu nav {
    position: static;
    width: 45vw;
    background-color: var(--white-color);
    transition: transform 400ms ease-in-out;
    transform: scale(1, 1);
    transform-origin: top;
    border-bottom: none;
  }

  .menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    height: auto;
  }

  .nav-toggle-label {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }

  .menu li,
  .menu li {
    padding: 0 10px;
    list-style-type: none;
  }

  .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
  }

  a:hover {
    text-decoration: underline;
    color: var(--black-color);
    font-weight: 900;
  }

  .menu li a:active {
    text-decoration: underline;
    color: var(--accent-color-shade);
    font-weight: 900;
  }
}

/****
**  END OF .main-menu STYLES
****/

/****
**
** TOP .search STYLES 
**
****/
.search {
  display: none;
}

@media (min-width: 1000px) {
  .search {
    display: flex;
    flex-direction: column;
  }
  .search-box {
    display: flex;
    flex-direction: row;
  }

  .search ul {
    display: flex;
    flex-direction: column;
  }

  .search .search-box {
    align-content: flex-end;
  }

  .search input {
    margin: 0;
  }
  .search-results {
    position: absolute;
    top: 101%;
    transition: transform 400ms ease-in-out;
    transform: scale(1, 1);
    transform-origin: top;
    border-bottom: none;
  }
  .search-results ul {
    padding: 1rem;
    margin: 0;
  }
  .search-results li {
    list-style-type: none;
    background-color: var(--white-color);
    padding: 1rem;
    margin: 0;
  }
}
/****
**  END OF TOP .search STYLES
****/

/****
**
** tags and categories on pages/posts STYLES
**
****/

.categories-on-page,
.tags-on-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

.categories-on-page ul,
.tags-on-page ul {
  padding: 0;
  margin: 0;
}

.categories-on-page ul li,
.tags-on-page ul li {
  list-style-type: none;
  border-bottom: 1px solid var(--grey-color);
  padding: 0.25rem 0 0.75rem 0;
}

.categories-on-page ul li a,
.tags-on-page ul li a {
  text-decoration: none;
  text-transform: capitalize;
}

/****
** END OF tags and categories on pages/posts STYLES
****/

/****
**
** MAIN DIV STYLES NOTE: Look for subsections. These are the styles for the Main div including the ASIDE.
**
****/

main {
  padding-top: 100px;
}

figcaption {
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  main {
    padding-top: 150px;
  }
}

aside {
  background-color: var(--white-color);
  display: grid;
}

aside h3 {
  text-align: center;
}

aside section {
  border-bottom: 3px dotted #55433b;
  margin-bottom: calc(1.4rem / 2);
}

/****
**  END MAIN DIV STYLES
****/

/****
**
** WIDGETS STYLES NOTE: Look for subsections. These are the styles for individual widget, as needed.
**
****/

/**** START sitewide-message.js STYLES ****/

.sitewide-message {
  background-color: var(--grey-color);
  padding: 5%;
  margin: 1rem 0;
}

.sitewide-message p {
  padding: 0;
  margin: 0;
}

/**** END sitewide-message.js STYLES ****/

/**** START bio.js STYLES ****/

.bio {
  background-color: var(--white-color);
}

.bio ul {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}
.bio ul li {
  list-style: none;
}

.bio figure {
  width: 100%;
}

/**** END bio.js STYLES ****/

/**** start social-share.js STYLES ****/

.social-share ul {
  display: flex;
  justify-content: space-around;
}

.social-share ul li {
  list-style: none;
}

.social-share ul li span {
  line-height: 3.2;
  margin: 0;
}

/**** END social-share STYLES ****/

/**** START social-follow-me.js STYLES ****/

.social-follow-me ul {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}

.social-follow-me ul li {
  list-style: none;
}

.social-share button {
  color: var(--accent-color);
}

.social-follow-me li,
.social-follow-me ul li {
  padding: 0 10px;
  list-style-type: none;
}

header .social-follow-me {
  display: none;
}

@media (min-width: 1500px) {
  header .social-follow-me {
    display: flex;
    padding: 0;
    margin: 0;
  }
  header .social-follow-me ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  header .social-follow-me ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  header .social-share button {
    color: var(--accent-color);
  }

  header .social-follow-me li,
  header .social-follow-me ul li {
    padding: 0 10px;
    list-style-type: none;
  }
}
/**** END social-share.js STYLES ****/

/**** START latest-posts.js STYLES ****/

.latest-posts li {
  list-style-type: none;
}

/**** END latest-posts.js STYLES ****/

/**** START mailchimp-sign-up.js STYLES ****/

.mailchimp-sign-up {
  padding: 1rem 1rem 1rem;
  background-color: var(--dark-accent-color);
  color: var(--white-color);
  margin-bottom: calc(1.4rem / 2);
  text-align: left;
}

.mailchimp-sign-up h3 {
  color: var(--white-color);
  margin-top: 1rem;
  text-align: left;
}

.mailchimp-sign-up p,
.mailchimp-sign-up small {
  margin: 0 5% 1.4rem;
}

.mailchimp-sign-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5%;
}

.mailchimp-sign-up form label {
  margin: 0;
}

.mailchimp-input {
  color: var(--dark-accent-color);
  background-color: var(--white-color);
  margin: 0.4rem 3% 0.8rem;
  width: 90%;
}

.mailchimp-input:focus {
  color: var(--black-color);
  background-color: var(--white-color);
  outline: 2px solid var(--accent-color);
  box-shadow: 2px solid var(--accent-color);
}

.mailchimp-button {
  color: var(--black-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 3% 1.4rem;
  width: 90%;
}

.mailchimp-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color-shade);
  cursor: pointer;
}

.mailchimp-button:active {
  background-color: var(--accent-color);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.mailchimp-button:focus {
  outline: 2px solid var(--white-color);
  background-color: var(--accent-color-shade);
  color: var(--white-color);
}
/**** END mailchimp-sign-up.js STYLES ****/

/**** START instagram.js STYLES ****/

.instagram-widget ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.instagram-widget ul li {
  list-style-type: none;
}

/**** END instagram.js STYLES ****/

/****
**  END WIDGETS STYLES
****/

/****
**
** PRISMJS Styles NOTE: https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/ 
**
****/

/* Add back the container background-color, border-radius, padding, margin and overflow that we removed from <pre>. */
.gatsby-highlight {
  /* background-color: #fdf6e3; */
  border-radius: 0.3em;
  margin: 0.5em 1rem 1.5rem !important; /* fix from solar styles */
  padding: 1em;
  overflow: auto;
}
/* Remove the default PrismJS theme background-color, border-radius, margin,
   * padding and overflow.
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .gatsby-highlight.
   * 3. Adjust the position of the line numbers */

.gatsby-highlight pre[class*="language-"] {
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

/* If you already use line highlighting */
/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

/* If you only want to use line numbering */

.gatsby-highlight {
  background-color: #2d2d2d;
  /* background-color: #fdf6e3; */
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

/* fix the font-size given by the solar theme.*/

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.85rem !important;
}

/****
**  END OF PRISMJS STYLES
****/
