/****
**
** There are two sections of this global.css style sheet.  1. Are global styles and 2. Optional or    ** Plugin specific styles 
** that you can delete to replace with, for example with styled-components or emotion. 
**
** In fact, all these styles could be deleted, but things like Fonts and other global styles will need ** to be addressed. 
****/

/****
**  
** Global styles
** 
****/

/**** CSS Custom Variable for Color Scheme ****/

:root {
  --accent-color: #f3824a;
  --dark-accent-color: #55433b;
  --grey-color: #dfe0df;
  --white-color: #fff7f0;
  --black-color: #040404;
}

/**** Accessible .visually-hidden class 
**
** WARNING: If you delete these, your website will self-destruct.
**
****/

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
/* ie9+ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****
**  END OF ACCESSIBILITY FOCUSED STYLES
****/

/****
**  
** Optional or Plugin specific styles
** 
****/

/** BASIC STRUCTURE STYLES THAT CAN BE DELETED, REPLACED OR USED IN OTHER PLACES **/

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl {
  margin: 0 5% 1.4rem;
}

blockquote {
  background: var(--white-color);
  border-left: 10px solid var(--grey-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--accent-color);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

hr {
  background-color: var(--accent-color);
}

/**** 
** 
** BEGINNING OF BREADCRUMBS STYLING 
**
****/

.breadcrumbs__container {
  padding: 1rem;
  margin-bottom: 2rem;
  min-height: 8rem;
}

.breadcrumb__title {
  margin-bottom: 0;
}

.breadcrumb__list {
  margin: 0;
  margin-top: calc(1.4rem / 2);
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__list__item {
  margin-bottom: calc(1.4rem / 2);
  list-style: none;
  text-transform: capitalize;
}

.breadcrumb__separator {
  margin-bottom: calc(1.4rem / 2);
  padding: 0 0.5rem;
}

.breadcrumb__list__item a {
  text-decoration: none;
}

.breadcrumb__link__active {
  font-weight: 900;
  font-size: 105%;
}

/****
**  END OF BREADCRUMBS STYLING
****/

/**** 
** 
** BEGINNING OF REACT BURGER MENU STYLING | | https://github.com/negomi/react-burger-menu#styling
**
** You can move this to a styled-component, emotion component or css module.  This code goes with
** the react-burger-menu and can be safely deleted if you choose to not use the library.
**
****/

/* Position and sizing of burger button */
.bm-burger-button {
  display: block;
  position: fixed;
  width: 32px;
  height: 28px;
  right: 36px;
  top: 36px;
}

@media (min-width: 950px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--black-color);
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--accent-color);
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: var(--black-color);
}
/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
/* General sidebar styles */
.bm-menu {
  background: var(--white-color);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu ul {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.bm-menu li {
  list-style-type: none;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--white-color);
}
/* Wrapper for item list */
.bm-item-list {
  color: var(--black-color);
  padding: 0.8em;
}
/* Individual item */
.bm-item {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 0;
}
.bm-item:hover,
.bm-item:active {
  color: var(--accent-color);
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.6);
}

/****
**  END OF REACT BURGER MENU STYLING
****/

/****
**
** Header Styles NOTE: We are using react-burger-menu for the Navigation. Therefore, these header     ** styles consider that, and if you are not using react-burger-menu, you can delete these and style the ** menu any way you want. 
**
****/

.page-header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-header ul {
  display: flex;
}

.page-header .menu,
.page-header ul,
.page-header .search {
  display: none;
}

.page-header .search {
  padding-top: 20px;
}

@media (min-width: 950px) {
  .page-header .menu,
  .page-header ul {
    display: flex;
  }

  .page-header .search {
    display: inline-block;
  }

  .page-header .menu li,
  .page-header ul li {
    padding: 0 10px;
    list-style-type: none;
  }

  .page-header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
  }
}

/****
**  END OF HEADER STYLES
****/

/****
**
** MAIN DIV STYLES NOTE: Look for subsections. These are the styles for the Main div including the ASIDE.
**
****/

figcaption {
  text-align: center;
  padding: 0.5rem;
}

article header p {
  display: flex;
  flex-direction: column;
}

/****
**  END MAIN DIV STYLES
****/

/****
**
** WIDGETS STYLES NOTE: Look for subsections. These are the styles for individual widget, as needed.
**
****/

/**** START sitewide-message.js STYLES ****/

.sitewide-message {
  background-color: var(--grey-color);
  padding: 5%;
  margin: 1rem 0;
}

/**** END sitewide-message.js STYLES ****/

/**** START bio.js STYLES ****/

.bio ul {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}
.bio ul li {
  list-style: none;
}

/**** END bio.js STYLES ****/

/****
**  END WIDGETS STYLES
****/

/****
**
** PRISMJS Styles NOTE: https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/ 
**
****/

/* Add back the container background-color, border-radius, padding, margin and overflow that we removed from <pre>. */
.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 1rem 1.5rem !important; /* fix from solar styles */
  padding: 1em;
  overflow: auto;
}
/* Remove the default PrismJS theme background-color, border-radius, margin,
   * padding and overflow.
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .gatsby-highlight.
   * 3. Adjust the position of the line numbers */

.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

/* If you already use line highlighting */
/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

/* If you only want to use line numbering */

.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

/* fix the font-size given by the solar theme.*/

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.85rem !important;
}

/****
**  END OF PRISMJS STYLES
****/
